* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: #050c26;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box {
  width: 200px;
  border-radius: 10px;
  background-color: #eaefff;
  padding: 10px;
}
.box ul {
  gap: 9px;
  display: flex;
  flex-direction: column;
}
.box ul li {
  border-radius: 8px;
  display: flex;
  vertical-align: middle;
  padding: 10px;
  background-color: #d77062;
  display: flex;
  align-items: center;
  gap: 10px;
}
